body{
  background-color: #FDE666;
  margin: 35px;
}

.center{
  text-align: center;
}

.container {
  background-color: #FFBD5E;
  border: 10px solid #F69E1E;
  padding: 10px 15px;
}

#paragrafoEventoQuotidiano{
  text-align: center;
}

#title{
  text-align: center;
}

#myProgress {
  width:100%;
  background-color: red;
}

#myBar {
  max-width: 100%;
  height: 30px;
  background-color: green;
  align-content: centre;
}

#myProgress1 {
  width:100%;
  background-color: #BEF6FF;
}

#myBar1 {
  max-width: 100%;
  height: 30px;
  background-color: #31E0FB;
}

#myProgress2 {
  width:100%;
  background-color: #ff8000;
}

#myBar2 {
  max-width: 100%;
  height: 30px;
  background-color: #955E2C;
}

#myProgress3 {
  width:100%;
  background-color: #7FFF7F;
}

#myBar3 {
  max-width: 100%;
  width : 0%;
  height: 30px;
  background-color:#1aff1a;
}
